img {
    max-height: 250px;
    object-fit: cover;
    width: 100%;
}

.netflix {
    height: 400px;
    position:relative;
    font-size: 15px;
}
.save {
    position:absolute; 
    bottom:0; 
    height: 25px;
    max-height: 25px;
}

/* .save div{
    width:100%;
    display: inline-block;
    justify-content: space-between;
} */

