#recipe-search-btn {
    float:left;
}
#ingredient-search-btn {
    float:right;
}

.netflix img {
    max-height: 250px;
    object-fit: cover;
    width: 100%;
}

.netflix {
    height: 400px;
    max-width:300px;
    position:relative;
    font-size: 15px;
}
.save {
    position:absolute; 
    bottom:0; 
    height: 25px;
    max-height: 25px;
}