#recipe-search-btn {
    float:left;
}
#ingredient-search-btn {
    float:right;
}

.netflix img {
    max-height: 250px;
    object-fit: cover;
    width: 100%;
}

.netflix {
    height: 400px;
    position:relative;
    font-size: 15px;
}
.save {
    position:absolute; 
    bottom:0; 
    height: 25px;
    max-height: 25px;
}

@media screen and (max-width: 850px) {
    #recipe-search-btn {
        float:none;
    }
    #ingredient-search-btn {
        float:none;
    }

    /* #header h5 {

    } */
}