#recipe-search-btn {
    float:left;
}
#ingredient-search-btn {
    float:right;
}

.netflix img {
    max-height: 250px;
    object-fit: cover;
    width: 100%;
}

.netflix {
    height: 400px;
    position:relative;
    font-size: 15px;
}
.save {
    position:absolute; 
    bottom:0; 
    height: 25px;
    max-height: 25px;
}

/* .card {
    min-width:385px;
} */

@media screen and (max-width: 850px) {
    #home-btn {
        padding:0px;
        min-width:235px;
    }
    #recipe-search-btn {
        float:none;
        min-width:175px;
        margin-bottom:20px;
    }
    #ingredient-search-btn {
        float:none;
        min-width:245px;
    }
}
